* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: 4rem 1fr;
  grid-template-areas:
    "side header"
    "side main";
}

/* Sidebar styling */

.sidebar {
  border-right-width: 1px;
  grid-area: side;
  background-color: #111826;
  display: grid;
  grid-template: 4rem 1fr 3rem / 1fr;
  padding: 0 1.5rem 1rem;
}

.logo {
  height: 2rem;
  display: flex;
  align-self: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

.logo img {
  height: 2rem;
  margin-right: 1rem;
}

.menu {
  margin-top: 2rem;
}

.menu-item {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #9ca3af;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  height: 3rem;
}

.menu-item:hover {
  background-color: #1f2937;
  color: white;
}

.menu-item:hover svg {
  fill: white;
}

#active {
  background-color: #1f2937;
  color: white;
}
#active svg {
  fill: white;
}

.sidebar svg {
  width: 1.5rem;
  fill: #9ca3af;
  margin-right: 1rem;
}

/* Header styling */

.header {
  grid-area: header;
  display: flex;
  flex: 1 1 0%;
  column-gap: 1.5rem;
  position: sticky;
  border-bottom-width: 1px;
  padding: 0 2rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.search-bar {
  display: flex;
  flex: 1 1 0%;
}

.header svg {
  width: 1.5rem;
  fill: #9ca3af;
}

.notifications > svg:hover {
  cursor: pointer;
  fill: black;
}

.search-bar > input {
  padding-left: 2rem;
  width: 100%;
  height: 100%;
  display: block;
  outline: none;
}

.header-buttons {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.divider {
  width: 1px;
  height: 1.5rem;
  background-color: #e5e7eb;
}

.profile {
  display: flex;
  column-gap: 0.875rem;
  align-items: center;
}

.profile-avatar {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.profile-name {
  font-weight: 500;
  font-size: 0.875rem;
}

/* Main container styling */

.content {
  grid-area: main;
  flex: 1 0 auto;
}

.content-header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 0;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.user-details {
  display: flex;
  align-items: center;
}

.user-details > div {
  flex: 1 1 0%;
  font-weight: 500;
  margin-left: 12px;
}

.small-text {
  font-size: 0.875rem;
}

.big-text {
  font-size: 1.5rem;
}

.btn {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-style: bold;
  border-radius: 0.4rem;
  margin-left: 0.75rem;
  min-width: 5rem;
  color: #e5e7eb;
  background-color: #111826;
  cursor: pointer;
}

.btn:hover {
  background-color: #334155;
}

.content-main {
  background-color: #f3f4f6;
  display: grid;
  grid-template-columns: 1fr 30%;
  grid-template-rows: 1fr;
  grid-template-areas: "projects other";
  height: calc(100% - 5rem);
  padding: 1rem 2rem;
}

.projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem 1fr 1fr 1fr;
  grid-template-areas:
    "title title"
    "c1 c2"
    "c3 c4"
    "c5 c6";
  grid-gap: 1.5rem 1.75rem;
}

.section-title {
  grid-area: title;
  align-self: end;
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0;
}

.projects > div:nth-child(2) {
  grid-area: c1;
}

.projects > div:nth-child(3) {
  grid-area: c2;
}

.projects > div:nth-child(4) {
  grid-area: c3;
}

.projects > div:nth-child(5) {
  grid-area: c4;
}

.projects > div:nth-child(6) {
  grid-area: c5;
}

.projects > div:nth-child(7) {
  grid-area: c6;
}

.card {
  background-color: white;
  border-radius: 1rem;
  display: grid;
  grid-template: 1fr 2.75rem / 0.5rem 1fr;
}

.card:hover {
  transform: scale(1.01);
}

.card-border {
  grid-row: 1/-1;
  background: #fde047;
  width: 100%;
  border-radius: 0.4rem 0 0 0.4rem;
}

.card-text {
  padding: 1rem 1.25rem;
  padding-top: 1.25rem;
}

.card-text-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.card-text-body {
  font-size: 0.85rem;
  margin-top: 0.85rem;
  font-weight: 300;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.85rem;
  padding: 0 1.25rem 1rem 0;
}

.card-actions > svg {
  fill: #111826;
}

.card-actions > svg:hover {
  cursor: pointer;
  fill: #fde047;
}

.other-content {
  grid-area: other;
  display: grid;
  grid-template: 2rem 1fr 2rem 1fr / 1fr;
  margin-left: 2rem;
}

.announcements-title,
.trending-title {
  align-self: end;
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0;
}

.announcements {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: white;
  display: grid;
  grid-template: 1fr 1px 1fr 1px 1fr / 1fr;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 0.75rem;
  color: #111826;
}

.announcements div {
  opacity: 0.8;
}

.divider {
  background-color: #334155;
  opacity: 0.7;
  width: 100%;
  height: 1px;
}

.subtitle {
  margin: 0;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

a {
  color: #111826;
  opacity: 0.7;
}
